* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  font-size: 3rem;
  line-height: 5rem;
  font-weight: 600;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}
body {
  background-color: #0c1824;
  color: white;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif;
  line-height: 1.5rem;
  font-weight: 300;
}

.container {
  max-width: 1280px;
  overflow: hidden;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

section {
  overflow: hidden;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgba(12, 24, 36, 0.85);
  z-index: 1000;
  backdrop-filter: blur(8px);
}

.desktop-navbar {
  margin: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 0;
}

.mobile-navbar {
  display: none;
}

nav {
  display: flex;
  align-items: center;
}

.desktop-navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  align-self: center;
  margin-left: 0.5rem;
}

.podcast-text {
  width: 83%;
}
.desktop-navbar li {
  margin-left: 1.2rem;
  border-bottom: 1.5px solid transparent;
}

.desktop-navbar li:hover {
  border-bottom: solid white 1.5px;
}

.your-pod {
  width: 60%;
}
.logo {
  width: 10rem;
  margin-right: 1rem;
}

#signup {
  box-sizing: border-box;
  padding: 0.18rem 1rem;
  margin-top: -0.18rem;
  border: solid white 1px;

  border-radius: 0.25rem;
}

#signup:hover {
  background-color: white;
  color: #0c1824;
}
.banner-div > div {
  position: relative;

  padding-left: 3rem;
  padding-right: 3rem;
}
.banner-div {
  padding: 8rem 0 10rem 0;
  margin: 0 auto;
  max-width: 72rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

h1 {
  font-size: 4rem;
  line-height: 5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

h1 span {
  display: block;
  color: #fbc75d;
}
.banner-desk {
  position: absolute;
  z-index: -1;
  left: 200px;
  top: -90px;
}

.banner-desk img {
  width: 900px;
  vertical-align: middle;
  border-radius: 0.5rem;
}

.signup-button-desk {
  font-size: 1.125rem;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  color: #fff;
  font-weight: 600;
  margin-top: 3rem;
  border: 2px solid #e2e8f0;
}

.signup-button-desk:hover {
  background-color: white;
  color: #0c1824;
}

.signup-button-mob {
  display: none;
}

.podcast-section {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 4rem 0;
}

.podcast-section h2 {
  margin-bottom: 2rem;
}

.podcast-section a {
  color: #fbc75d;
  display: block;
  margin-bottom: 3rem;
  margin-top: 0.5rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.podcast-section a:hover {
  border-bottom: 2px solid #fbc75d;
}
.podcast-section > p {
  max-width: 40rem;
}

.podcast-img {
  max-width: 650px;
}

.analytics-image {
  width: 73%;
}

.first-users-img,
.second-users-img {
  display: flex;
  max-width: 87%;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.first-users-img div {
  width: 49.6%;
  position: relative;
  max-height: 256px;
  overflow: hidden;
}

.first-users-img img {
  box-sizing: border-box;
  width: 100%;
}

.first-users-img p {
  position: absolute;
  bottom: 0;
  right: -0.2rem;
  padding: 0.3rem 0.7rem;
  background-color: #38434d;
  border-radius: 0.3rem;
  overflow: hidden;
  font-size: 0.9rem;
}

.second-users-img div {
  width: 33%;
  position: relative;
  max-height: 256px;
  overflow: hidden;
}

.second-users-img img {
  box-sizing: border-box;
  width: 100%;
}

.second-users-img p {
  position: absolute;
  bottom: 0;
  right: -0.2rem;
  padding: 0.3rem 0.7rem;
  background-color: #38434d;
  border-radius: 0.3rem;
  overflow: hidden;
  font-size: 0.9rem;
}

#trial-button {
  display: inline-block;
  border: solid white 2px;
  padding: 0.7rem 1.2rem;
  border-radius: 2rem;
  color: white;
  font-size: 1.2rem;
}

#trial-button:hover {
  background-color: white;
  color: #0c1824;
}

footer {
  box-sizing: border-box;
  background-color: #fbc75d;
  color: black;
  width: 100%;
  padding: 3% 6.5%;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

footer li {
  font-size: 0.875rem;
  margin-right: 2rem;
  font-weight: 600;
}

.footer-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-svg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.contact-svg img {
  width: 30px;
  height: 30px;
}
.footer-details > div {
  width: 45%;
}
.contact {
  display: flex;
  justify-content: space-between;
}

.contact > div {
  width: 30%;
}

.contact img {
  width: 100%;
}

hr {
  margin: 2rem 0;
  border: 0.5px solid black;
}

.footer-details p,
.footer-details a {
  font-size: 1.125rem;
  line-height: 1.7rem;
}

h5 {
  margin-bottom: 2rem;
}

footer a {
  color: #0c1824;
  text-decoration: underline;
}

footer span {
  display: block;
  font-size: 0.8rem;
  margin: 2rem 0;
}

.radio {
  max-width: 40rem;
}

.banner-mob {
  display: none;
}

.pricing-section {
  margin-top: 2rem;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.pricing-hr {
  margin: 1.7rem auto;
  border: none;
  background-size: auto 3px;
  display: block;
  height: 3px;
  width: 50%;
  background-image: url("./images/spiral.svg");
}

blockquote {
  max-width: 53rem;
  margin: 0 auto;
  padding: 1.5rem;
}

i {
  font-size: 1.9rem;
  line-height: 2.8rem;
}

.david {
  color: #718096;
}

.faq {
  text-align: left;
  max-width: 45rem;
  margin: 7rem auto;
}

.questions {
  background-color: hsla(0, 0%, 100%, 0.06);
  margin: 2rem 0;
  padding: 1.5rem;
}
.questions p {
  margin-top: 1rem;
  font-size: 1rem;
  color: #cbd5e0;
}
h3 {
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
}
.questions h4 {
  font-size: 1.25rem;
}

.questions ul {
  margin-top: 1.5rem;
  list-style-position: inside;
  color: #cbd5e0;
}
.questions li {
  line-height: 1.5rem;
}

.tick {
  width: 1.5rem;
}

table h4 {
  font-size: 1.3rem;
  line-height: 1.9rem;
}

table p {
  font-size: 0.75rem;
  color: #718096;
  font-weight: 400;
}
th {
  font-size: 1.8rem;
  line-height: 2.5rem;
  width: 20%;
}

td,
th {
  padding: 1.25rem;
  border: 1px solid #ddd;
  margin-left: 2px;
}

td {
  font-size: 0.75rem;
}

th span {
  font-size: 1rem;
  color: #718096;
}

th:first-of-type {
  width: 40%;
}

th:first-of-type,
td:first-of-type {
  text-align: left;
}

table {
  border-collapse: collapse;
  background-color: #fff;
  color: #0c1824;
  margin: 1rem;
  padding: 0;
  max-width: 1280px;
  overflow: hidden;
  margin: 3rem auto;
  width: 100%;
  border-radius: 1rem;
}

.trial {
  font-size: 0.875rem;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  background-color: #2d3748;
  color: white;
}

.features {
  background-color: #f7fafc;
  border: 0;
  padding: 0.5rem 1.25rem;
}
@media only screen and (max-width: 1150px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 1rem;
  }

  .your-pod {
    width: 70%;
  }

  .podcast-text {
    width: 94%;
  }

  header {
    max-width: 1024px;
  }
  .contact-svg img {
    width: 20px;
    height: 20px;
  }
  .banner-div {
    padding: 8rem 0;
    margin: 0;
  }

  h1 {
    font-size: 3.6rem;
  }
}

@media only screen and (max-width: 950px) {
  .youtube {
    width: 100%;
  }

  .analytics-image {
    width: 100%;
  }
  header {
    max-width: 768px;
  }
  h1 {
    font-size: 3rem;
    line-height: 4rem;
  }

  .banner-div > div {
    margin-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .container {
    max-width: 768px;
  }

  .desktop-navbar {
    padding: 1.5rem 0;
  }

  h2 {
    line-height: 4rem;
  }

  .banner-div {
    text-align: center;
    padding: 0;
  }

  .banner-desk {
    display: none;
  }

  .banner-mob {
    display: block;
    max-width: 800px;
  }

  .banner-mob img {
    margin-top: 1rem;
    width: 100%;
    border-radius: 0.5rem;
  }
  .your-pod {
    width: 100%;
  }

  .podcast-text {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }

  .first-users-img,
  .second-users-img {
    max-width: 100%;
  }

  .signup-button-desk {
    display: none;
  }

  .signup-button-mob {
    font-size: 1.3rem;
    display: inline-block;
    padding: 0.7rem 1.8rem;
    border-radius: 9999px;
    color: #fff;
    font-weight: 600;
    margin-top: 2rem;
    border: 1px solid #e2e8f0;
  }

  .signup-button-mob:hover {
    background-color: white;
    color: #0c1824;
  }
}

@media only screen and (max-width: 700px) {
  .youtube {
    width: 90%;
    height: 25rem;
  }
  html {
    font-size: 0.95rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .podcast-section > p {
    font-size: 1.5rem;
    width: 90%;
  }

  .footer-details {
    flex-direction: column;
  }

  .contact {
    margin-top: 3rem;
  }

  .first-users-img,
  .second-users-img {
    max-width: 95%;
  }

  .analytics-image {
    width: 90%;
  }

  .radio {
    max-width: 90%;
  }

  .top-navbar {
    display: none;
  }

  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
  }

  #mobile-nav2 {
    display: none;
  }

  .mobile-navbar {
    display: flex;
    flex-direction: column;
  }

  .mobile-navbar ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    align-items: center;
    font-size: 0.9rem;
  }
  .mobile-navbar li {
    margin-bottom: 0.9rem;
  }

  #signup {
    box-sizing: content-box;
    padding: 0.2rem 0.4rem;
    border-radius: 0.34rem;
    width: 70px;
    margin: 1rem auto;
  }
  .ham {
    padding: 0.5rem 0.85rem;
    border: solid white 1px;
    border-radius: 0.5rem;
  }

  .footer-details > div {
    width: 100%;
  }

  .desktop-navbar {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .youtube {
    height: 20rem;
  }
  .container {
    max-width: 96%;
    margin: 0 auto;
  }
  .analytics-image {
    width: 100%;
  }

  .first-users-img,
  .second-users-img {
    max-width: 100%;
  }

  .podcast-img {
    max-width: 90%;
  }

  .podcast-section > p {
    font-size: 1.2rem;
  }

  h2 {
    line-height: 2.4rem;
  }

  .podcast-text {
    width: 100%;
  }

  h1 {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .banner-div > div {
    padding: 0;
  }
  .ham {
    padding: 0.5rem 0.7rem;
  }
  .logo {
    width: 8.6rem;
  }
  .youtube {
    height: 15rem;
  }
}
@media only screen and (max-width: 400px) {
  .youtube {
    height: 15rem;
  }

  h1 {
    font-size: 2.3rem;
    line-height: 3rem;
  }
}
